@charset "UTF-8";

.indexWrap{
	width: 1120px;
	display:flex;
	margin: 0 auto;
	
}

.contentWrap{
	width: 800x;
	margin: 0 auto;
}

.cardWrapper{
	padding: 50px;
	border: 1px solid;
	border-radius: 50px;
	background-color: #E6B36D;
	margin-bottom: 20px;
}

.cardWrapper img{
	width: 100%;
}

.topContent{
	width: 1120px;
	height: 300px;
	background: maroon;
	margin: 0 auto;
}