<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="CommentDTO" type="com.funmunity.myapp.comment.CommentDTO"/>
        <typeAlias alias="SubCommentDTO" type="com.funmunity.myapp.comment.SubCommentDTO"/>
        <typeAlias alias="MemberDTO" type="com.funmunity.myapp.member.MemberDTO"/>
        <typeAlias alias="PageDTO" type="com.funmunity.myapp.boardContent.PageDTO"/>
    </typeAliases>
</configuration>