<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.funmunity.myapp.comment.SubCommentMapper">
    <select id="maxIdx" parameterType="String" resultType="String">
        SELECT MAX(IDX) FROM USER_COMMENT WHERE BOARDIDX = #{idx}
    </select>
    <select id="queryComment" parameterType="Map" resultType="SubCommentDTO">
        SELECT * FROM SUBCOMMENT WHERE BOARDIDX = #{boardidx} AND COMMENTIDX = #{idx}
    </select>
    <insert id="insertComment" parameterType="SubCommentDTO">
        insert into SUBCOMMENT (boardidx, commentidx, writer, content, mention)
        values
        (#{boardidx}, #{commentidx}, #{writer}, #{content}, #{mention})
    </insert>
</mapper>