<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.funmunity.myapp.comment.SubCommentMapper">
<!--    <insert id="insertComment" parameterType="CommentDTO">-->
<!--        INSERT INTO USER_COMMENT (BOARDIDX, IDX, WRITER, CONTENT)-->
<!--        values (#{boardidx},#{idx},#{writer},#{content})-->
<!--    </insert>-->
    <select id="queryComment" parameterType="String" resultType="SubCommentDTO">
        SELECT
            BOARDIDX, IDX, WRITER, CONTENT, POSTDATE, RECOMMENDED
        FROM USER_COMMENT WHERE BOARDIDX = #{boardidx} ORDER BY IDX
    </select>
    <select id="maxIdx" resultType="String" parameterType="String">
        SELECT MAX(IDX) FROM USER_COMMENT WHERE BOARDIDX = #{BOARDIDX}
    </select>
    <select id="singleComment" resultType="CommentDTO" parameterType="CommentDTO">
        SELECT * FROM USER_COMMENT WHERE BOARDIDX = #{boardidx} AND IDX = #{idx}
    </select>
</mapper>